<!DOCTYPE html>
<html>
<head>
	<title>处理结果</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
	<script type="text/javascript" src="__STATIC__js/layer/layer.js"></script>
</head>
<body >
	<script type="text/javascript">

		window.onload=function(){
			{if condition="$res.code eq 1"}
				layer.open({
				    content: "您的提现已提交审核,我们将在1-2个工作日内审核完毕，请留意您的微信通知"
				    ,btn: '确定'
				    ,yes: function(index){
				      WeixinJSBridge.invoke('closeWindow',{},function(res){});
				    }
				  });
			
			{/if}
			{if condition="$res.code eq -3"}
				layer.open({
				    content: "请勿重复刷新页面!"
				    ,btn: '确定'
				    ,yes: function(index){
				      WeixinJSBridge.invoke('closeWindow',{},function(res){});
				    }
				  });
			{/if}
			{if condition="$res.code eq -1"}
				layer.open({
				    content: "错误请求!"
				    ,btn: '确定'
				    ,yes: function(index){
				      WeixinJSBridge.invoke('closeWindow',{},function(res){});
				    }
				  });
			{/if}
		
		}
	</script>
</body>
</html>