<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Developping ...</title>
        <style type="text/css">
        .IOS_opening_box{
			width: 100%;
			background: url("__STATIC__img/IOS_bg.png?y=2") no-repeat;
			background-size: 100% 100%;
			position: absolute;
			left: 0;
			top:0;
			height: 100%;
		}
        </style>
    </head>
    <body>
        <div class="IOS_opening_box"></div>
    </body>
<script type="text/javascript">
</script>
<include file="Public/baiducount" />
</html>
