<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <input type="hidden" name="row[mode]" value="json" />


    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">分类封面图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" data-rule="" class="form-control" size="50" name="row[type_cover]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image" data-url="{:url('ajax/upload')}?dir=images"><i class="fa fa-upload"></i> 上传</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> 选择</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>


    <div class="form-group">

        <label for="c-f_sort" class="control-label col-xs-12 col-sm-2">排序:</label>

        <div class="col-xs-12 col-sm-8">

            <input id="c-f_sort" data-rule="required" class="form-control" name="row[order]" type="text" value="" >

        </div>

    </div>

    <div class="form-group">

        <label for="c-value" class="control-label col-xs-12 col-sm-2">分类名称</label>

        <div class="col-xs-12 col-sm-8">


                <dl class="fieldlist" rel="1"  id="c-value" data-name="row" data-listidx="0" nodrag="1">

                <dd>

                    <ins>语种</ins>

                    <ins>名称</ins>

                </dd>

                <dd>

                    <input type="text" name="row[field][1]" class="form-control" id="field-1" value="" size="10" required />

                    <input type="text" name="row[value][1]" class="form-control" id="value-1" value="" size="40" required />

                    <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>

                </dd>

                <dd><a href="javascript:;" class="append btn btn-sm btn-success"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>

            </dl>

        </div>

    </div>

    <div class="form-group hide layer-footer">

        <label class="control-label col-xs-12 col-sm-2"></label>

        <div class="col-xs-12 col-sm-8">

            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>

            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>

        </div>

    </div>

</form>

